name: release

on:
  push:
    branches:
      - "main"
    tags:
      - "v*"

permissions:
  contents: write
  id-token: write
  packages: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    env:
      DOCKER_CLI_EXPERIMENTAL: "enabled"
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: arduino/setup-task@v2
        with:
          # renovate: datasource=github-releases depName=go-task/task
          version: 3.47.0
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/setup-qemu-action@v3

      - uses: docker/setup-buildx-action@v3

      - name: setup-snapcraft
        run: sudo snap install snapcraft --classic

      # https://github.com/goreleaser/goreleaser/issues/4816#issuecomment-2093607649
      - run: sudo snap refresh snapcraft --revision 11040

      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - uses: sigstore/cosign-installer@v4.0.0

      - uses: anchore/sbom-action/download-syft@v0.22.0

      - name: ghcr-login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Install GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          install-only: true

      - name: goreleaser-release
        env:
          AUR_KEY: "${{ secrets.AUR_KEY }}"
          FURY_PUSH_TOKEN: "${{ secrets.FURY_PUSH_TOKEN }}"
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
          SNAPCRAFT_STORE_CREDENTIALS: "${{ secrets.SNAPCRAFT_LOGIN }}"
          GITHUB_REF: "${{ github.ref }}"
        run: task goreleaser
